body, button {
  font-family: 'Annie Use Your Telescope', cursive;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Reenie Beanie', cursive;
  letter-spacing: 5px;
}

p {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

/* APPROACH USING TEMPLATE AREAS */
/* GRID */

.container {
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 5px;
  grid-gap: 5px;
  grid-template-columns: fit-content(400px) fit-content(300px);
  grid-template-rows: fit-content(150px) fit-content(300px) fit-content(300px);
  min-height: 100vh;
}

.meal {
  grid-template-areas:
    "header header"
    "img-wrapper ingredients"
    "directions directions"
    "button button"
}

.no-meal {
  grid-template-areas:
    "header header"
    "header header"
    "button button"
    "button button"
}

/* GRID ITEMS */
header {
  grid-area: header;
  /* grid-column: 1 / 3;
  grid-row: 1 / 2; */
  text-align: center;
}

.img-wrapper {
  grid-area: img-wrapper;
  /* grid-column: 1 / 2;
  grid-row: 2 / 4; */
}

img {
  max-width: 100%;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.25);
}

.ingredients {
  grid-area: ingredients;
  /* grid-column: 2 / 3;
  grid-row: 2 / 4; */
}

.directions {
  grid-area: directions;
  /* grid-column: 1 / 3;
  grid-row: 3 / 4; */
}

button {
  margin: 0 auto;
  display: block;
  padding: 1rem;
  font-size: 1.2rem;
  grid-area: button;
}

/* APPROACH USING TEMPLATE LINES */
/* GRID
.container-meal {
  display: grid;
  grid-template-columns: minmax(200px, 400px) minmax(200px, 600px);
  grid-template-rows: minmax(50px, 200px) minmax(50px, 600px) minmax(50px, 400px);
}

.container-no-meal {
  display: grid;
  grid-template-columns: minmax(200px, 400px) minmax(200px, 600px);
  grid-template-rows: minmax(50px, 200px) minmax(50px, 200px);
}

GRID ITEMS
header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align: center;
}

.img-wrapper {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

img {
  max-width: 100%;
}

.ingredients {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.directions {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
} */
